@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open_sans/opensans.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open_sans/OpenSans-Bold.woff");

    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open_sans/OpenSans-BoldItalic.woff");

    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open_sans/OpenSans-ExtraBold.woff");

    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open_sans/OpenSans-ExtraBoldItalic.woff");

    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open_sans/OpenSans-Italic.woff");

    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open_sans/OpenSans-Light.woff");

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open_sans/OpenSans-SemiBold.woff");

    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open_sans/OpenSans-SemiBoldItalic.woff");

    font-weight: 600;
    font-style: italic;
}

html, body, div, form, fieldset, legend, label, ul
{
    max-width: 1440px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8;
    margin: 0;
    padding: 0;
}

table
{
    border-collapse: collapse; /* убирает двойные рамки у таблиц*/
    border-spacing: 0; /*Задает расстояние между границами ячеек в таблице*/
}

th, td
{
    text-align: left;
    vertical-align: top;
}

li { list-style: none; }

img { border: 0; display: block; width: 100%; height: 100%;}

a { text-decoration: none; }