/* BASIC STYLES*/

@font-face {
    font-family: 'New York Small Black';
    font-style: normal;
    font-weight: 500;
    src: local('New York Small Black'), url('/fonts/New York/NewYorkSmallBlack.woff') format('woff');
}

@font-face {
    font-family: 'New York Extra Large Regular';
    font-style: normal;
    font-weight: 700;
    src: local('New York Extra Large Regular'), url('/fonts/New York/NewYorkExtraLargeRegular.woff') format('woff');
}

@font-face {
    font-family: 'New York Extra Large Black';
    font-style: normal;
    font-weight: 700;
    src: local('New York Extra Large Black'), url('/fonts/New York/NewYorkExtraLargeBlack.woff') format('woff');
}

@font-face {
    font-family: 'New York Small Regular';
    font-style: normal;
    font-weight: 400;
    src: local('New York Small Regular'), url('/fonts/New York/NewYorkSmallRegular.woff') format('woff');
}

@font-face {
    font-family: 'New York Medium Medium';
    font-style: normal;
    font-weight: 400;
    src: local('New York Medium Medium'), url('/fonts/New York/NewYorkMediumMedium.woff') format('woff');
}

@font-face {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 500;
    src: local('SF Pro Display Regular'), url('/fonts/SF Pro Display/SFProDisplay-Regular.woff') format('woff');
}

html, body, div, form, fieldset, legend, label, ul
{
    max-width: 1440px;
    min-width: 320px;
    width: 100%;
    font-family: 'New York Small Regular', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p{ margin: 0; padding: 0}

table
{
    border-collapse: collapse; /* убирает двойные рамки у таблиц*/
    border-spacing: 0; /*Задает расстояние между границами ячеек в таблице*/
}

th, td
{
    text-align: left;
    vertical-align: top;
}

li { list-style: none; }

img {
    display:block;
    border: 0;
    width: 100%;
    height: auto;
}

a { text-decoration: none; }

input{ border: 2px solid rgb(124, 134, 134); padding: 10px 0 10px 5px; }

input:focus,
input:hover{ border: 2px solid rgb(70, 179, 251); outline: none; }

textarea{
    border: 2px solid rgb(124, 134, 134);
    padding: 10px 0 10px 5px;
    font-size: 16px;
}

textarea:focus,
textarea:hover{ border: 2px solid rgb(70, 179, 251); outline: none; }

button {
    color: white;
    text-transform: uppercase;
    background-color: rgb(124, 134, 134);
    border: 2px solid rgb(229, 229, 229);
    border-radius: 5px;
    padding: 15px 0;
}

button:focus,
button:hover{
    background-color: rgb(70, 179, 251);
    outline: none;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* PAGE INDEX*/

.header{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    border-bottom: 2px solid rgb(229, 229, 229);
    padding: 30px 50px;
}

.logo{
    font-family: 'New York Extra Large Regular', sans-serif;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.logo:hover,
.logo:focus{
    outline: none;
    border-bottom: 4px solid rgb(0, 0, 0);;
}

.nav_list{
    display: flex;
    justify-content: space-between;
}

.nav_list_item a{
    font-family: 'New York Small Regular', sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding-bottom: 60px;
}

.active_nav_list_item{
    font-family: 'New York Small Regular', sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    color: rgb(70, 179, 251);
    text-transform: uppercase;
}

.nav_list_item a:hover,
.nav_list_item a:focus{
    outline: none;
    border-bottom: 4px solid rgb(0, 0, 0);;
}

.main_wrapper{ margin-top: 50px; }

.sub_title{
    font-family: 'New York Extra Large Regular', sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 50px 0 40px 0;
}

.slider{ background-color: rgb(229, 229, 229); }

.slider_item{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
}

.about_project{ display: block; width:100%; }

.about_project_content{ line-height: 2; margin: 0 50px 0 50px; }

.popular_article_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.popular_article{
    margin-bottom: 50px;
}

.popular_article img{
    margin: 0 auto;
    max-width: 500px;
}

.popular_article h3 { text-align: center; margin-bottom: 20px; letter-spacing: 1px; }

.popular_article h3 a{
    font-family: 'SF Pro',sans-serif;
    color: rgb(0, 0, 0);
}

.popular_article h3 a:hover,
.popular_article h3 a:focus{
    outline: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 5px;
}

.footer{
    display: grid;
    text-align: center;
    padding-top: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
}

.logo_footer{
    color: rgb(255, 255, 255);
}

.social_list{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 20px;

}

.social_icon{
    margin-left: 15px;
    margin-right: 15px;
}

.social_icon a{
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 2px;
}

.social_icon a:hover,
.social_icon a:focus{
    outline: none;
    border-bottom: none;
}

.logo_footer:hover,
.logo_footer:focus{
    outline: none;
    border-bottom: 4px solid rgb(255, 255, 255);
}

/* PAGE CATEGORY*/

.category_title{ font-size: 2.5em; }

.articles_wrapper{ margin: 0 auto; width: 50%; }

.preview_article{
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 2px solid rgb(229, 229, 229);
}

.title_of_article{
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
}

.preview_content{ margin-top: 15px;}

.preview_article a{ border-bottom: 1px solid rgb(70, 179, 251); color: rgb(70, 179, 251); }

.preview_article a:hover{ border-bottom: none; }

.preview_article a:focus{ padding: 3px; border-bottom: none; }

.author_time{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pagination_list{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 50px;
}

.pagination_item a{
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    padding: 10px 15px;
    margin-right: 20px;
    background-color: rgb(0, 0, 0);
}

.active_pagination_item{
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    border-radius: 2px;
    padding: 5px 15px;
    margin-right: 20px;
    background-color: rgb(70, 179, 251);
}

.pagination_item a:hover,
.pagination_item a:focus{ color: rgb(70, 179, 251); outline: none; }

/* PAGE ARTICLE*/

.article{
    width: 70%;
    margin: 0 auto 40px auto;
    border-bottom: 2px solid rgb(229, 229, 229);
    padding-bottom: 40px;
}

.content_article {margin: 40px 0;}

.current_article_wrapper{
    margin: 0 auto 50px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

/* PAGE ABOUT PROJECT  AND PAGE SING IN*/

.write_form, .sing_in_form, .add_article_form, .slider_img, .about_project_form{
    display: grid;
    grid-template-columns: 40%;
    justify-content: center;
    margin-bottom: 50px;
}

.obligatory_field { color: red; }

.write_form textarea, .sing_in_form textarea, .add_article_form textarea, .about_project_form textarea
{ resize: none; margin-bottom: 20px; }

.btn{ width: 200px; }

/* PAGE CONTROL PANEL*/

.rubrics { margin-bottom: 50px; }

.nav_list_item{ margin-left: 20px;}

.article_item{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-column-gap: 20px;
    align-items: center;
    border-bottom: 2px solid rgb(229, 229, 229);
    margin: 20px 0;
    padding-bottom: 20px;
}

.about_article h4{
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.about_article details summary{
    box-sizing: border-box;
    list-style: none;
    cursor: pointer;
    color: rgb(70, 179, 251);
}

.control_btns{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

.control_btns a{
    display: block;
    width: 160px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.5;
    border-radius: 5px;
    background-color: green;
    border: 2px solid rgb(229, 229, 229);
    padding: 15px 0;
    margin-right: 10px;
}

.add_img button:focus,
.add_img button:hover,
.control_btns a:focus,
.control_btns a:hover{
    background-color: rgb(0, 200, 0);
    border: 2px solid rgb(124, 134, 134);
}

.control_btns button{
    width: 160px;
    background-color: rgb(191, 0, 0);
}

.del_img button:focus,
.del_img button:hover,
.control_btns button:focus,
.control_btns button:hover{
    background-color: red;
    border: 2px solid rgb(124, 134, 134);
}

.add_article_form select{
    width: 150px;
    margin-bottom: 20px;
}

.add_article_form input{ margin-bottom: 20px; }

.add_article_form input[type=file], .slider_img input[type=file]{ border:none; }

.add_article_form button{ width: 200px; }

.slider_mini{ margin: 0 20px; }

.slider_item_mini figcaption {
    white-space: pre-line; /* перенос строки*/
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(229, 229, 229);
}

.nav_list_item{ text-transform: uppercase; }

.slider_list_mini{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
}

.add_img input[type=file]{ margin-top: 20px; }

.del_img select{ margin-top: 28px; }

.slider_img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 150px;
    text-align: center;
}

.del_img button { background-color: rgb(191, 0, 0); margin-left: 10px; }
.add_img button { background-color: green; }